/*Datos personales
Celia Barral Juárez
UO277578
*/

/*Especificidad 001*/
main{
    display: flex; 
    flex-direction: column; 
    gap: 1.25em; 
    justify-content: center; 
}

/*Especificidad 011*/
section:nth-child(1) {
    flex-grow: 1;

  }

  /*Especificidad 001*/
  canvas {
    width: auto;
    height: 250px;
    border: 2px solid white;
 
  }
  
  /*Especificidad 011*/
section:nth-child(2) {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px; 
  }


/*Especificidad 001*/
video{
    width: 100%;
    height: 100vh;
    object-fit: cover;

}


